# /dir ......will match a file, directory, link, anything named dir
# /dir/ .....will match only a directory named dir
# /dir/* ....will match all files, directories and anything else inside 
#            a directory named dir (but not the dir directory itself).
node_modules/
vendor/
.env
yarn-error.log
.vscode
.DS_Store

# ignore all default WordPress files and version control our custom-theme only
/wp-*
/index.php
/license.txt
/readme.html
/xmlrpc.php

# keep the dir "wp-content" but ignore everything inside it
!wp-content/
wp-content/*
# keep dir "wp-content/themes" but ignore everything inside it
!wp-content/themes/
wp-content/themes/*
# keep dir "wp-content/themes/src"
!wp-content/themes/src/